body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(93, 93, 151);
}
.container{
    width: 500px;
    height: 300px;
    overflow: hidden;
    background: whitesmoke;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 0 0 25px ;
    padding: 30px;
    margin-top: 15%;
}
.container p{
    font-size: 20px;
    text-align: center;
    color: gray;
    word-spacing: 5px;
    letter-spacing: 2px;
}
.container img{
    width: 400px;
    height: 150px;
    margin-left: 60px;
}
.container button{
    width: 40%;
    padding: 10px;
    color: steelblue;
    background: lightsteelblue;
    font-size: 18px;
    margin-left: 30%;
    margin-top: 50px;
    border: none;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}