@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Orbitron:wght@900&family=Saira+Condensed&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 60%;
    height: 10vh;
    margin: 36px auto;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    background-color: rgb(146, 218, 146);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-left: 3px solid rgba(255, 255, 255, 0.5);
    border-right: 3px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.header h1{
    width: 10%;
    float: left;
    margin-left: 2%;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    margin-top: 0.5%;
    color: white;
    text-shadow: 0 0 10px rgb(36, 66, 56),
                    0 0 20px rgb(164, 231, 209),
                    0 0 40px rgb(164, 231, 209),
                    0 0 80px rgb(164, 231, 209),
                    0 0 120px rgb(36, 66, 56),
                    0 0 160px rgb(164, 231, 209);
}
.header ul{
    text-align: center;
    margin-left: 35%;
    width: 90%;
}
.header ul li{
    list-style: none;
    float: left;
    font-size: 19px;
    padding: 10px;
    background: transparent;
    color: black;
    width: 12%;
    margin-right: 5px;
}
.header ul li:hover{
    background: whitesmoke;
    transition: .5s ease-in;
    box-shadow: 0 0 20px rgb(122, 72, 72);
}