body{
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    width: 90%;
    margin: 10px auto;
    box-shadow: 0px 0px 15px gray;
    background: transparent;
    padding: 50px;
    text-align: left;
    overflow: hidden;
    bottom: 20px;
    margin-left: -30px;
}
table tr:hover{
    box-shadow: 0 0 15px lightgreen;
    transition: 1s;
}
table tr th{
    margin: 50px;
    padding: 20px;
    font-size: 17px;
    background-color: lightgreen;
    
}
table tr td{
    background: transparent;
    padding: 20px;
    margin-top: 20px;
    border-bottom: 2px solid lightgray;
    font-size: 18px;
}
table tr td .delete{
    background-color: red;
    text-align: center;
    color: white;
    width: 90%;
    padding: 10px;
    margin: 2px auto;
    font-size: 16px;
    border: none;
    cursor: pointer;

}
table tr td .delete:hover{
    box-shadow: 0 0 25px red;
    transition: 1s;
}
table tr td .approve{
    background-color: green;
    text-align: center;
    color: white;
    width: 90%;
    padding: 10px;
    margin: 2px auto;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
table tr td .approve:hover{
    box-shadow: 0 0 25px green;
    transition: 1s;
}
table tr td .view{
    background-color: violet;
    text-align: center;
    color: white;
    width: 90%;
    padding: 10px;
    margin: 2px auto;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
table tr td .view:hover{
    box-shadow: 0 0 25px violet;
    transition: 1s;
}
.vat{
    margin: 0;
    padding: 0;
    background: transparent;
    box-shadow: none;
}
.vat tr td{
    margin: 10px;
    padding: 10px;
    border: none;
}
.vat tr td input{
    width: 100px;
    padding: 10px;
}
.vat:hover tr{
    box-shadow: none;
}
.vat tr td input[name="submit"]{
    cursor: pointer;
}